*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* définition des couleurs par compétences */
.color-situer {
  color: #1a4a28;
}

.color-commander {
  color: #294062;
}
.color-eduquer {
  color: #8d943f;
}
.color-instruire {
  color: #891b0b;
}
.color-communiquer {
  color: #734693;
}

html {
  scroll-behavior: smooth; 
  /* fonction qui permet d'adoucir la transition smooth */
}

body {
  width: 100vw;
  height: 20000px;
  font-family: roboto, sans-serif;
  background: linear-gradient(#294062 20%, #1a4a28, #891b0b,#8d943f , #734693, #f1f1f1);
 }
/* ---------------------------------------------------------- */
/* -----------------------navbar----------------------- */
/* ---------------------------------------------------------- */

.navbar {
  height: 70px;
  background: #294062;
  text-transform: uppercase;
  width: 100vw;
}

.navbar-brand img {
  height: 50px;
}
.bg-collapse {
  background: #294062;
  width: 100%;
  text-align: center;
}

.icone-accueil-competences{
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background: rgba(41, 64, 98, 0.5);
z-index: 10;}
.icone-accueil-competences a img {
margin: 0 10px;
  border-radius: 50%;
  width: 80%;
  justify-content: center;
}
/* ---------------------------------------------------------- */
/*----------------- section parcours------------------ */
/* ---------------------------------------------------------- */

/* général */
.section-parcours {
 background-image:  linear-gradient(rgba(244, 244, 247, 0.5), rgba(0, 0, 0, 0.5)), url(../ressources/images/bg_parcours.jpg);
 background-position: 40% 70px;
 background-size: cover;
 background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
 height: 100vh;

}
.title-parcours {
  position: relative;
  top: -40%;
  text-transform: uppercase;
  color: #294062;
  padding: 50px 0;
  font-size: 1.5rem;
}
.btn-parcours{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 40px;
  height: 40px;
  background-color: rgba(41, 64, 98, 0.4);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  
}
.btn-parcours img{
  width: 100%;
  height: 100%;
}

.container-parcours-competences { /* contient les 5 competences*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.img-competence img { /* img rondes des  5competences*/
  border-radius: 50%;
  height: 100px;
  width: 100px;
  
}

.parcours-title-competence { /*texte sous le badge */
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.container-fil-commander,
.container-fil-situer,
.container-fil-instruire,
.container-fil-eduquer,
.container-fil-communiquer { /* container de chaque competences*/
  display: flex;
  flex-direction: row;
  margin: 150px 0;
  height: auto; /*hauteur du container moyen*/
  color: #f1f1f1;
  
}


/*partie gauche avec logo + aptitude + fil */
.box-fil { 
  display: flex;
  position: relative;
}

        .line-container { 
          position: relative;
          background: red;
        }
        
        .line { /* c'est la ligne blanche sous le logo */
          height: 2000px;
          width: 5px;
          border-left: 5px solid rgba(255, 255, 255, 0.3);
          position: absolute;
          border-radius: 9999px;
          left: 45px;
        }
        
        .fil-competence{
          display: flex;
          flex-direction: row;
          z-index:0;
        }
        .fil-competence img {
          width: 100px;
          height: 100px;
          position: relative;
          z-index: 10;
        }


/*partie droite avec les modules (3 normalement sauf se situer) */
.container-box-description-aptitude {
    display: flex;
    flex-direction: column;
    height:2000px;
    justify-content: space-between;
    align-items: center;
}

  .box-description-aptitude { /* contenant des modules*/
    display: flex;
    position: relative;
    flex-direction: column;
    color: #f1f1f1;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
font-size: 0.8rem;
  }
  
      .box-description-aptitude img {
      width: 50%;
      border-radius: 50%;
    }

    /* module */
    .module{
      min-width: 250px;
      margin: 10px;
      padding: 10px;
      border: 2px solid #294062;
      border-radius: 10px;
      background: rgba(41, 64, 98, 0.3);
    }

/* commander */
.container-competence-commander {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* margin-bottom: 50px; */
}

.title-commander:nt {
  color: #f1f1f1;
}
.title-commander p:nth-child(2) {
  font-size: 0.7rem;
}
.title-commander p:nth-child(3) {
  font-size: 0.7rem;
  text-transform: none;
  font-weight: 100;
}
.conclusionCdt{
  margin: 10px;
  text-align: justify;
  line-height: 2rem;
}


/* modification de Situer*/
 /* .aptitude-situer {
}

#logoSituerParcours{
    left: -3px;
    top: -10px;
}
.line-situer{
    height: 2000px;
}

.title-aptitude-situer{
} 


.container-competence-seSituer {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
.title-seSituer {
  color: #1a4a28;
}
.title-seSituer p:nth-child(2) {
  font-size: 0.7rem;
}
.title-seSituer p:nth-child(3) {
  font-size: 0.7rem;
  text-transform: none;
  font-weight: 100;
} */


/* modification INSTRUIRE */
/* .container-competence-instruire {
  display: flex;
  width: 100%;

}
.title-instruire {
  color: #891b0b;
}
.title-instruire p:nth-child(2) {
  font-size: 0.7rem;
}
.title-instruire p:nth-child(3) {
  font-size: 0.7rem;
  text-transform: none;
  font-weight: 100;
} */


/* modification EDUQUER */


/* .container-competence-eduquer {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
.title-eduquer {
  color: #8d943f;
}
.title-eduquer p:nth-child(2) {
  font-size: 0.7rem;
}
.title-eduquer p:nth-child(3) {
  font-size: 0.7rem;
  text-transform: none;
  font-weight: 100;
} */


/* modification COMMUNIQUER */

/* .container-competence-communiquer {
  display: flex;
  width: 100%;
}
.title-communiquer {
  color: #734693;
}
.title-communiquer p:nth-child(2) {
  font-size: 0.7rem;
}
.title-communiquer p:nth-child(3) {
  font-size: 0.7rem;
  text-transform: none;
  font-weight: 100;
} */


