*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* définition des couleurs par compétences */
.color-situer {
  color: #1a4a28;
}

.color-commander {
  color: #294062;
}
.color-eduquer {
  color: #8d943f;
}
.color-instruire {
  color: #891b0b;
}
.color-communiquer {
  color: #734693;
}

html {
  scroll-behavior: smooth; /* fonction qui permet d'adoucir la transition smooth */
}

body {
  width: 100%;
  height: 20000px;
  font-family: roboto, sans-serif;
 }







/* -----------------------navbar----------------------- */

.navbar {
  height: 70px;
  background: #294062;
  text-transform: uppercase;
}

.navbar-brand img {
  height: 50px;
}
.bg-collapse {
  background: #294062;
  width: 100%;
  text-align: center;
}

/* -----------------------accueil----------------------- */

.section-accueil {
  background-image: url(../ressources/images/BG-accueil.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pin img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: auto;
  fill: #294062;
}




.box-5competences {
  flex-direction: column;
  flex-wrap: nowrap;
  /* background: pink; */
  max-width: 320px;
  margin-top: 1vh;
}

.container-text-competences {
  transform: rotate(-90deg);
}
.container-text-competences p {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.icone-accueil-competences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  /* background: red; */
}

.icone-accueil-competences img {
  border-radius: 50%;
  width: 100%;
}

.container-title-accueil {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: blue; */
}

.box-modjo {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 60px;
  /* background: lightgreen; */
}

.title-incarner {
  color: #294062;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  animation: color 10s ease-in-out infinite alternate; 
}
@keyframes color {
    0%{
        color:#294062;
    }
    20%{
        color:#1a4a28;
    }
    40%{
        color:#734693;
    }
    60%{
        color:#891b0b;
    }
    80%{
        color:#8d943f;
    }
    100%{
        color:#294062;
    }
}
.title-modjo {
  color: grey;
  font-size: 0.5rem;
  padding-bottom: 10px;
  letter-spacing: 0.12rem;
  margin: 0;
  padding: 0;
}
.box-logo-alpha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background: green; */
}
.box-logo-alpha h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7rem;
  color: #294062;
}
#logoAlphaAccueil{
    animation: scale 1s ease-in-out infinite alternate; 
}

@keyframes scale {
    0%{
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100%{
        transform: scale(0.99);
            -webkit-transform: scale(0.99);
    }
}

#iconeSituerAccueil{
    animation: notificationVerte 2s ease-in-out infinite alternate;
}

@keyframes notificationVerte {
    0%{
        background: #1a4a28;
        transform: translateY(5px);
    }
    100%{
        background: #71c58c;
        transform: translateY(-5px);
    }
   
}
#iconeCommuniquerAccueil{
    animation: notificationViolet 2s ease-in-out infinite alternate;
}

@keyframes notificationViolet{
    0%{
        background: #734693;
        transform: translateY(-5px);
    }
    100%{
        background: #8968a0;
        transform: translateY(5px);
    }
   
}
#iconeEduquerAccueil{
    animation: notificationKaki 2s ease-in-out infinite alternate;
}

@keyframes notificationKaki{
    0%{
        background: #8d943f;
        transform: translateY(-5px);
    }
    100%{
        background: #a6ac6c;
        transform: translateY(5px);
    }
   
}
#iconeInstruireAccueil{
    animation: notificationRouge 2s ease-in-out infinite alternate;
}

@keyframes notificationRouge{
    0%{
        background: #891b0b;
        transform: translateY(-5px);
    }
    100%{
        background: #e08476;
        transform: translateY(5px);
    }
   
}
#iconeCommanderAccueil{
    animation: notificationBleu 10s ease-in-out infinite alternate;
}

@keyframes notificationBleu{
    0%{
        background: #294062;
        transform: translateY(0px);
    }
    10%{
        
        transform: translateY(-10px);
    }
    20%{
        background: #789acc;
        transform: translateY(0px);
    }
    30%{
       
        transform: translateY(-30px);
    }
    40%{
        background: #657b9c;
        transform: translateY(0px);
    }
    50%{
        
        transform: translateY(-50px);
    }
    60%{
        
        transform: translateY(0px);
    }
    70%{
        background: #6395e0;
        transform: translateY(-40px);
    }
    80%{
    
        transform: translateY(0px);
    }
    90%{
        background: #294062;
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
   
}
/* mediaquery section accueil */

/* @media screen and (max-width: 764px) {
} */

/*----------------- section mission----------------------------------- */

.section-mission {
  background-color: #294062;
  height: calc(100vh - 70px);
  color: #294062;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-mission {
  font-size: 1rem;
}
.subtitle-mission {
  font-size: 2.1rem;
  scale:1;
}
.subtitle-mission span {
  font-style: italic;
  font-size: 3rem;
}


/*------------------------formation------------------------------- */
.section-formation {
  background: linear-gradient(to bottom, #ffffff, #5c7590 50%, #375577);
  height: calc(100vh - 70px);
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-formation h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 3rem 0;
  font-size: 2rem;
  color: #294062;
}

.box-formation-droite {
  display: none;
}
.box-formation-gauche {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.line-formation {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 100%;
  opacity: 0;
}
.line-formation img {
  padding: 0.2rem;
  width: 4rem;
}
.line-formation p {
}
/*-----------------pedagogie------------------ */
.section-pedagogie {
  background: linear-gradient(to bottom, #375577, #2a4161);
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title-pedagogie {
  text-align: center;
  margin: 10px 0 5px;
  text-transform: uppercase;
  color: #f1f1f1;
}

.carousel-caption {
  background: rgba(255, 255, 255, 0.5);
  color: #294062;
  border-radius: 5px;
}



/*-----------------compétences------------------ */
.section-competences {
  background-color: #375577;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title-competences h3 {
  color: #f1f1f1;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: rgba(255, 255, 255, 0.3) 0px 5px 10px;
}
.title-competences p {
  color: rgb(64, 97, 139);
  text-shadow: rgba(255, 255, 255, 0.3) 0px 2px 0px;
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.box2-5competences {
  padding: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box2-5competences div {
  width: 100%;
}
.box2-5competences div img {
  width: 100%;
}
.box2-5competences div p {
  font-size: 0rem;
  text-align: center;
  /* background: #000; */
}

.container-competences-couleur p {
  display: none;
  position: absolute;
  bottom: 20%;
  transform: translatex(-5%);
}

.container-competences-couleur p.active:nth-child(1) {
  color: #33425a;
  display: block;
}
.container-competences-couleur p.active:nth-child(2) {
  color: #71c58c;
  display: block;
}
.container-competences-couleur p.active:nth-child(3) {
  color: #c8ce93;
  display: block;
}
.container-competences-couleur p.active:nth-child(4) {
  color: #fcfcfc;
  display: block;
}
.container-competences-couleur p.active:nth-child(5) {
  color: #957aa8;
  display: block;
}

.container-competences-couleur p {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
}
/* mediaquery section competence */

@media screen and (max-width: 764px) {
  .box2-5competences
    div:nth-child(1):hover
    + .container-competences-couleur
    p:nth-child(1) {
    display: block;
  }
}

/*-----------------doctrine------------------ */
.section-doctrine {
  background: linear-gradient(to bottom, #375577, #2a4161);
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container-doctrine-gauche {
  width: 50%;
}
.container-doctrine-droite {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-doctrine-droite h3 {
  color: #f1f1f1;
  text-align: center;
  font-size: 2rem;
  margin: 30px 0;
}
.container-imgs-doctrine {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container-img-doctrine {
  margin-left: 10px;
}
/*-----------------parcours------------------ */
.section-parcours {
  background-image: url(../ressources/images/bg-parcours.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: calc(500vh - 70px);     */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* border-bottom: 1px solid darkblue; */
}

.container-parcours-competences {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title-parcours {
  position: relative;
  text-transform: uppercase;
  color: #f1f1f1;
}
.img-competence img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 20px;
}

.parcours-title-competence {
  margin-left: 30px;
  text-align: center;
  text-transform: uppercase;
}

.container-competence-commander {
  display: flex;
  width: 100%;
  /* height: calc(20% - 70px- 4%); */
}
.title-commander {
  color: #294062;
}
.title-commander p:nth-child(2) {
  font-size: 0.7rem;
}
.title-commander p:nth-child(3) {
  font-size: 0.7rem;
  text-transform: none;
  font-weight: 100;
}

.container-fil-commander,
.container-fil-situer,
.container-fil-instruire,
.container-fil-eduquer,
.container-fil-communiquer {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.title-aptitude {
  font-size: 1rem;
  font-weight: 900;
  position: absolute;
  top: 51%;
  left: -420px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  text-align: center;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.2);
  width: 1000px;
}



.box-fil {
  display: flex;
  position: relative;
  /* background: blue; */
}
.fil-competence div p{
  /* background: blue; */
}
.fil-competence img {
  width: 100px;
  position: relative;
  z-index: 10;
}

#logoSituerParcours{
    /* background: #000; */
    left: -3px;
    top: -10px;
}
.container-box-description-aptitude {
    display: flex;
    flex-direction: column;
    /* background: pink; */
    height: 1000px;
    justify-content: space-around;
    align-items: center;
}
 .aptitude-situer {
height: 1500px;
/* background: #000; */
}

.box-description-aptitude {
  display: flex;
  position: relative;
  flex-direction: row;
  color: #2a4161;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.box-description-aptitude img {
    position: absolute;
    top:-50%;
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: 0.4;
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.line-container {
  position: relative;
}
.line {
  height: 1000px;
  width: 5px;
  border-left: 5px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  border-radius: 9999px;
  top: 20px;
  left: 45px;
}
.line-situer{
    height: 1500px;
    /* background: #000; */
}

.title-aptitude-situer{
width: 1500px;
top: 51%;
  left: -665px;
} 


.container-competence-seSituer {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  /* height: calc(20% - 70px- 4%); */
}
.title-seSituer {
  color: #1a4a28;
}
.title-seSituer p:nth-child(2) {
  font-size: 0.7rem;
}
.title-seSituer p:nth-child(3) {
  font-size: 0.7rem;
  text-transform: none;
  font-weight: 100;
}

.container-competence-instruire {
  display: flex;
  width: 100%;
  /* height: calc(20% - 70px- 4%); */
}
.title-instruire {
  color: #891b0b;
}
.title-instruire p:nth-child(2) {
  font-size: 0.7rem;
}
.title-instruire p:nth-child(3) {
  font-size: 0.7rem;
  text-transform: none;
  font-weight: 100;
}

.container-competence-eduquer {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  /* height: calc(20% - 70px- 4%); */
}
.title-eduquer {
  color: #8d943f;
}
.title-eduquer p:nth-child(2) {
  font-size: 0.7rem;
}
.title-eduquer p:nth-child(3) {
  font-size: 0.7rem;
  text-transform: none;
  font-weight: 100;
}

.container-competence-communiquer {
  display: flex;
  width: 100%;
  /* height: calc(20% - 70px- 4%); */
}
.title-communiquer {
  color: #734693;
}
.title-communiquer p:nth-child(2) {
  font-size: 0.7rem;
}
.title-communiquer p:nth-child(3) {
  font-size: 0.7rem;
  text-transform: none;
  font-weight: 100;
}
