*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* définition des couleurs par compétences */
.color-situer {
  color: #1a4a28;
}

.color-commander {
  color: #294062;
}
.color-eduquer {
  color: #8d943f;
}
.color-instruire {
  color: #891b0b;
}
.color-communiquer {
  color: #734693;
}

html {
  scroll-behavior: smooth; 
  /* fonction qui permet d'adoucir la transition smooth */
}

body {
  width: 100vw;
  /* height: 20000px; */
  font-family: roboto, sans-serif;
 }
/* ---------------------------------------------------------- */
/* -----------------------navbar----------------------- */
/* ---------------------------------------------------------- */

.navbar {
  height: 70px;
  background: #294062;
  text-transform: uppercase;
  width: 100vw;
}

.navbar-brand img {
  height: 50px;
}
.bg-collapse {
  background: #294062;
  width: 100%;
  text-align: center;
}
/* ---------------------------------------------------------- */
/* -----------------------navbar de côté----------------------- */
/* ---------------------------------------------------------- */
.section {
  min-height: 100vh;
  padding-top: 70px;
}

.Nav {
  all: unset;
  --nav-gap: 15px;
  padding: var(--nav-gap);
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.Nav-item {
  all: unset;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: var(--nav-gap);
}

.Nav-link:hover ~ .Nav-label {
  opacity: 1;
}

.Nav-label {
  all: unset;
  color: #f1f1f1;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.1s;
  text-shadow: 1px 1px 1px #333;
}

.Nav-link {
  all: unset;
  background: rgba(41, 64, 98, 0.3);
  border-radius: 50%;
  height: var(--nav-gap);
  margin-left: var(--nav-gap);
  transition: transform 0.1s;
  width: var(--nav-gap);
  border:1px solid #f1f1f1f1;
}

.Nav-link-selected {
  
  background: #294062;
  transform: scale(1.4);
  border:1px solid #f1f1f1f1;
}



/* ---------------------------------------------------------- */
/* ----------------------- section accueil----------------------- */
/* ---------------------------------------------------------- */
.section-accueil {
  background-image: url(../ressources/images/BG-accueil.png);
  height: 200vh;
  background-position: center top 70px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  position: relative;
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.box-5competences {
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 320px;
  margin-top: 1vh;

}

.container-text-competences {
  transform: rotate(-90deg);
  text-align: right;
  padding-right: 30px;
}
.container-text-competences p {
  font-size: 1.8rem;
  text-transform: uppercase;
  justify-content: center;
  align-content: center;
}

.icone-accueil-competences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
}

.icone-accueil-competences  a img {
  border-radius: 50%;
  width: 100%;
  justify-content: center;
}

.container-title-accueil {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.box-modjo {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 100px;
  height: 100px;


}

.title-incarner {
  color: #294062;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  animation: color 10s ease-in-out infinite alternate; 
}
@keyframes color {
    0%{
        color:#294062;
    }
    20%{
        color:#1a4a28;
    }
    40%{
        color:#734693;
    }
    60%{
        color:#891b0b;
    }
    80%{
        color:#8d943f;
    }
    100%{
        color:#294062;
    }
}
.title-modjo {
  color: grey;
  font-size: 0.5rem;
  padding-bottom: 10px;
  letter-spacing: 0.12rem;
  margin: 0;
  padding: 0;
}
.box-logo-alpha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-logo-alpha h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7rem;
  color: #294062;
}
#logoAlphaAccueil{
    animation: scale 1s ease-in-out infinite alternate; 
}

@keyframes scale {
    0%{
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100%{
        transform: scale(0.99);
            -webkit-transform: scale(0.99);
    }
}

#iconeSituerAccueil{
    animation: notificationVerte 2s ease-in-out infinite alternate;
}

@keyframes notificationVerte {
    0%{
        background: #1a4a28;
        transform: translateY(5px);
    }
    100%{
        background: #71c58c;
        transform: translateY(-5px);
    }
   
}
#iconeCommanderAccueil{
  animation: notificationBleu 2s ease-in-out infinite alternate;
  z-index:10;
}

@keyframes notificationBleu{
    0%{
        background: #294062;
    }
    100%{
        background: #5c7590;
    }
   
}
#iconeCommuniquerAccueil{
    animation: notificationViolet 2s ease-in-out infinite alternate;
}

@keyframes notificationViolet{
    0%{
        background: #734693;
        transform: translateY(-5px);
    }
    100%{
        background: #8968a0;
        transform: translateY(5px);
    }
   
}
#iconeEduquerAccueil{
    animation: notificationKaki 2s ease-in-out infinite alternate;
}

@keyframes notificationKaki{
    0%{
        background: #8d943f;
        transform: translateY(-5px);
    }
    100%{
        background: #a6ac6c;
        transform: translateY(5px);
    }
   
}
#iconeInstruireAccueil{
    animation: notificationRouge 2s ease-in-out infinite alternate;
}

@keyframes notificationRouge{
    0%{
        background: #891b0b;
        transform: translateY(-5px);
    }
    100%{
        background: #e08476;
        transform: translateY(5px);
    }
   
}

.infoVersParcours{
color: #294062;
margin-top: 30px;
}
   /* bouton vers le haut */

.btn-haut {
  opacity: 0;
  position: fixed;
  top: 94vh;
  right: 2%;
  z-index: 10;
  width: 30px;
  height: 30px;
  border:none;
  box-shadow: none;
  border-radius:50%;
  background: rgba(41, 64, 98, 0.5);
  animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
.btn-haut img{
  border-radius: 50%;
  width: 70%;
  height: 70%;
  border:none;
  transform:translate(0.5px, -1px);
}
.btn-bas {
  opacity: 1;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border:none;
  box-shadow: none;
  border-radius:50%;
  background: rgba(41, 64, 98, 0.5);
  animation: pulse 2s infinite;
}
.btn-bas img{
  border-radius: 50%;
  width: 70%;
  height: 70%;
  border:none;
  transform: rotate(-180deg) translate(-0.5px, 1px);
  animation: pulse 2s infinite;
}
/* ---------------------------------------------------------- */
/*----------------- section mission----------------------------------- */
/* ---------------------------------------------------------- */
.section-mission {
    width: 100vw;
  background-color: #294062;
  height: 150vh;
  color: #294062;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.title-mission {
  font-size: 1.5rem;
  text-transform: lowercase;
}
.subtitle-mission {
  /* font-size: 2.1rem; */
  /* scale:1; */
}
.subtitle-mission span {
  font-style: italic;
  font-size: 1rem;
}
/* ---------------------------------------------------------- */
/*------------------------ section parcours------------------------------- */
/* ---------------------------------------------------------- */
.section-parcoursLien {
  background: linear-gradient(to bottom, #f1f1f1, #294062);
  height: 200vh;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

}
/* .title-parcoursLien{
margin-bottom: 50px;
} */
.btn-parcoursLien{
  border-radius: 9999px;
  padding:10px 20px;
  margin-top: 100px;
}



svg {
  /* background: #000; */
  max-width: 600px;
  overflow: visible;
  margin: 4vh 0;
}

.ball {
  fill: white;
  /* visibility:hidden; */
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}



.parcours-man{
position:absolute;
width: 70px;
left: -6%;
top: 7%;

}
.parcoursLogo{
  height: 50px;
  position: relative;
}
#parcoursCommanderLogo{
  position:absolute;
  top:15%;
  left: 65%;
  border-radius: 50%;
  
}
#parcoursSituerLogo{
  position:absolute;
  top:23.7%;
  left: 65%;
  border-radius: 50%;
}
#parcoursEduquerLogo{
  position:absolute;
  top:32.6%;
  left: 65%;
  border-radius: 50%;
  
}
#parcoursInstruireLogo{
  position:absolute;
  top:41.2%;
  left: 65%;
  border-radius: 50%;
  
}
#parcoursCommuniquerLogo{
  position:absolute;
  top:50%;
  left: 65%;
  border-radius: 50%;
  
}
/* ---------------------------------------------------------- */
/*------------------------ section formation------------------------------- */
/* ---------------------------------------------------------- */
.section-formation {
  background-color: #294062;;
  width: 100vw;
  height: 200vh;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-formation h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 3rem 0;
  font-size: 2rem;
  color: #f1f1f1;
}

.box-formation-droite {
  display: none;
}
.box-formation-gauche {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.line-formation {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 100%;
  opacity: 0;
}
.line-formation img {
  padding: 0.2rem;
  width: 4rem;
}
/* ---------------------------------------------------------- */
/*----------------- section pedagogie------------------ */
/* ---------------------------------------------------------- */

.title-pedagogie{
  height: 10px;
  justify-content: center;
  align-content: center;
  /* margin: 100px 0; */
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #294062;
  text-transform: uppercase;

}

.section-pedagogie {
  background: #5c7590;
  font-family:  'Muli', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    height: 200vh;
    padding-right: 22px;
}
.container{
  display: flex;
  width: 90vw;
  }
  .panel{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 80vh;
      border-radius: 50px;
      color: white;
      cursor: pointer;
      flex:0.5;
      margin:10px;
      position: relative;
      transition: flex 0.7s ease-in;
  }

  .panel.panel1{
    background: url(ressources/images/card1.png);
  }




  .panel h3 {
      font-size: 24px;
      position: absolute;
      bottom: 20px;
      left:20px;
      margin: 0;
      opacity: 0;
  }
  
  .panel.active{
      flex:5;
  }
  .panel.active h3{
      opacity: 1;
      transition: opacity 0.3s ease-in 0.4s;
  }
  
  @media screen and (max-width:480px) {
      .container{
          width: 100vw;
      }
      .panel:nth-of-type(4),.panel:nth-of-type(5){
          display: none;
      }
      
  }
/* ---------------------------------------------------------- */
/*----------------- section compétences------------------ */
/* ---------------------------------------------------------- */
.section-competences {
  background: linear-gradient(to bottom, #5c7590, #294062 );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 20vh;
 
}   

.boxAffichage  {
  display: block;
}
.is-visible  {
  display: block;
}
.title-competences h3 {
  color: #f1f1f1;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: rgba(255, 255, 255, 0.3) 0px 5px 10px;
}
.title-competences p {
  color: rgb(64, 97, 139);
  text-shadow: rgba(255, 255, 255, 0.3) 0px 2px 0px;
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

 .box2-5competences {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   text-align: center;
   font-size: 2rem;
   height: 100vh;
  }  

  .box2-5competences.color-commander {
    background: linear-gradient(to bottom ,#294062, #5c82b6 , #1a4a28);
  }
  .box2-5competences.color-situer {
    background: linear-gradient(to bottom , #1a4a28 5%, #8d943f);
  }
  .box2-5competences.color-eduquer {
    background: linear-gradient(to bottom , #8d943f 5%, #891b0b);
  }
  .box2-5competences.color-instruire {
    background: linear-gradient(to bottom , #891b0b 5%, #c97365, #734693);
  }
  .box2-5competences.color-communiquer {
    background: linear-gradient(to bottom , #734693, #c1a9d3, #734693);
  }
  .box2-5competences div img {
    width: 30%;
    /* overflow:hidden;  */
} 



 .box-competence{
   position: relative;
   width: 95;
   min-height: 50px;
   height: auto;
   background: none;
   border: 1px solid white;
   border-radius: 10px;
   margin:10px;
   padding: 10px;
   background: rgba(255, 255, 255, 0.3);
 }
.btnBoxCompetence {
  all:unset;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #294062;
  position: absolute;
  top: -1%;
  left:50%;
  transform: translate(-50%, -50%);
}
.btnBoxCompetence img{
  all:unset;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  transform: rotate(180deg) scale(2);
  
}
.box-commander .btnBoxCompetence {
background: #294062;
}
.box-situer .btnBoxCompetence {
background: #1a4a28;
}
.box-instruire .btnBoxCompetence {
background: #891b0b;
}
.box-eduquer .btnBoxCompetence {
background: #8d943f;
}
.box-communiquer .btnBoxCompetence {
background: #734693;
}
/* gestion des 5 icones servant de menu */
.menu-5competences{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}
.menu-5competences a img{
  height: 100%;

}



/* permet d'afficher correctement dans l'écran au clic des a */
#box-commander ,
#box-commniquer ,
#box-instruire ,
#box-eduquer ,
#box-situer
{
  padding-top: 100px;
}



.commander,
.situer,
.eduquer, 
.instruire, 
.communiquer
{
  font-size: 1rem;
}
.eduquer{
  color:#2e310b;
}

/* mediaquery section competence */


/* ---------------------------------------------------------- */
/*----------------- section doctrine------------------ */
/* ---------------------------------------------------------- */
.section-doctrine {
  background: linear-gradient(to bottom, #734693 10%,#1a4a28, #294062, #d37014);
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-doctrine p{
  padding: 50px 0;
  font-size: 2rem;
}
.container-doctrine-gauche {
  width: 50%;
}
.container-doctrine-droite {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-doctrine-droite h3 {
  color: #f1f1f1;
  text-align: center;
  font-size: 2rem;
  margin: 30px 0;
  padding: 100px 0;
  padding-top: 150px;
}
.container-imgs-doctrine {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container-img-doctrine {
  margin-left: 10px;
}
#culture{
  animation: couleurDoctrine 5s ease-in-out infinite;
}

@keyframes couleurDoctrine {
  0%{
    color: #2a4161;
  }
  40%{
    color: #8d943f;
  }
  60%{
    color: #c45f0c;
  }
  80%{
    color: #1a4a28;
  }
  100%{
    color: #2a4161;
  }
}

/* transiton */

.transition{
  width: 100%;
  height: 10vh;
  background: linear-gradient(to bottom, #d37014,#294062)
}

.footer{
  text-align: center;
  background: #2a4161;
  color: #f1f1f1;
}